h1 {
  margin-bottom: 30px;
}

.centerContainer {
  width: 30%;
  margin: auto;
  margin-top: 10%;
}

.detailsContainer {
  display: flex;
  flex-direction: column;
  // border: 1px solid black;
  width: 50%;
  margin-left: 16%;
  margin-top: 50px;
}